<article class="post card-body">
  <div class="title card-title">
    <a href="/post/{{id}}">{{title}}</a><span
      style="float:right"
    >Posted by {{user.username}} on {{format_date created_at}}</span><br />
    <span style="float:right">{{comments.length}}
      {{format_plural "comment" comments.length}}</span>
  </div>
  <div class="content card-text">
    <p>{{post_text}}</p>
  </div>
</article>